/logs/
/temp/
/requirements.txt/
/venv/

# Игнорировать файлы .pyc и кэш Python
__pycache__/
*.py[cod]

# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать IDE-файлы
.vscode/
.idea/
*.swp

# Игнорировать конфиденциальные данные
secrets.py
config.ini

# Игнорировать бинарные файлы (Selenium, ChromeDriver)
chromedriver*
geckodriver*
*.exe

# Игнорировать папки сборки
dist/
build/
*.egg-info/